@using bookstore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>    </h2>
@foreach (var sach in Model)
{
    <li>
        <a href="@Url.Action("Details","BookStore",new {  id= sach.Masach})">
            <img alt="@sach.Tensach" src="~/img/@sach.Hinhminhhoa" width="150"/>
            <br/>
            <span>@sach.Tensach</span>
        </a>
    </li>
}

@*Tao lien ket cac trang*@

Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount; 
<div class="MenuTrang">
    @Html.PagedListPager(Model,page=>Url.Action("Index",new { page=page}))
</div>
<style>
    .MenuTrang li{
        display:inline;
    }
</style>
